#btn{
    border: 1px solid 394867;
    background-color: 9BA4B5;
    color:394867;
    padding: 5px 15px;
    margin-right:-4px;
    font-size: 0.9em;
    border-radius:0.5em;
}

#result_page{
    color:blue;
}


.inputText{
    width:100px; 
    vertical-align:middle; 
    text-align:right;
}